.filter {
    
    min-height: 100vh;

    header {

        .reset {
            position: absolute;
            left: 0;
            font-size: 14px;
        }
    }

    .submit {
        margin-top: 50px;
    }
}