.users-index {

    .explore-heading {
        margin-top: 30px;
    }
}

.user-edit {

    .inputs {
        width: 80%;
    }

    label[for=avatar] {
        color: $primary;

        .fa-camera {
            padding-right: 15px;
            color: $grey;
        }

    }
}