.wishlist-hill-card {
    background: #fff;
    -webkit-box-shadow: 5px 10px 33px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 10px 33px -15px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 33px -15px rgba(0,0,0,0.75);
    border-radius: 6px;
    width: 200px;
    img {
        border-radius: 6px;
        height: 150px;
        object-fit: cover;
        width: 100%;
    }
    .info {
        padding: 10px;
        h4 {
            margin-bottom: 0;
        }
        .wishlist-mountain {
            color: $grey;
            margin-bottom: 10px;
        }
    }
}

.wishlist-cards {
    display: flex;
    gap: 20px;
}

.slick-list {
    overflow: visible !important;
}
.my-hills {
}