// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Partials
@import 'explore';
@import 'homepage';
@import 'wishlist-hill-card';
@import 'card';
@import 'statistics-tab';
@import 'hill';
@import 'trip';
@import 'floating-btn';
@import 'user-card';
@import 'track';
@import 'users';









* {
    font-family: 'Roboto', sans-serif;
}

img {
}

#stopTrip {
    display: none;
}

main {
    padding-bottom: 100px;
}

a {
    text-decoration: none !important;
}

* {
    outline: none;
}

body {
    &:after {
        transition: opacity .4s;
        content: "";
        position: absolute;
        background: #000;
        opacity: 0;
        top: 0;
        z-index: 5;

        left: 0;
        width: 100%;
    }
}
body.floating-options-opened {
    overflow: hidden;
    &:after {
        height: 10000vh;
        opacity: .7;
    }
}


.logout-link {
    color: #9A0909;
}

.floating-btn-options {
    position: fixed;
    background: #fff;
    bottom: -5px;
    transform: translateY(100%);
    padding-bottom: 5px;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: 6px;
    z-index: -200;
    transition: transform .4s;
    &.active {
        transform: translateY(0);
        z-index: 200;
    }
    li {
        a {
            display: inline-block;
            padding: 20px 0;
            width: 100%;
        }
    }
}

.btn {
    border-radius: 30px;
    padding: 10px 0;
    min-width: 250px;
}
.btn-full {
    color: $primary;
    background: #fff;
    border: 2px solid #fff;
}
.btn-outline {
    color: #fff;
    border: 2px solid #fff;
}

.welcome {
    background-image: url( '/images/mountain-bg.jpg' );
    background-size: cover;
    background-position: center;
    height: 100vh;
    &:after {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: .5;
    }
    .content {
        position: relative;
        text-align: center;
        z-index: 3;
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .text {
            position: relative;
            top: -20px;
            padding: 0 50px;
        }
        .buttons {
            position: absolute;
            bottom: 50px;
            a {
                margin-bottom: 10px;
            }
        }
     
    }
}

.register {
    color: #fff;
    background-image: url( '/images/mountain-bg.jpg' );
    background-size: cover;
    background-position: center;
    height: 100vh;
    &:after {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: .5;
    }
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        z-index: 3;
    }
    .login-link {
        position: absolute;
        width: 100%;
        bottom: 60px;
        text-align: center;
        a {
            color: #fff;
            display: block;
            text-decoration: none;
        }
    }
}
.login {
    color: #fff;
    background-image: url( '/images/mountain-bg.jpg' );
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    &:after {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: .5;
    }
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        z-index: 3;
    }
    .register-link {
        position: absolute;
        width: 100%;
        bottom: 60px;
        text-align: center;
        a {
            color: #fff;
            display: block;
            text-decoration: none;
        }
    }
}

::placeholder {
    color: #fff !important;
}
input.form-control {
    padding: 10px 0;
    // color: #fff !important;
    width: 100%;
    background-color: transparent !important;
    outline: none !important;
    border: none !important;
    border-radius: 0;
    border-bottom: 1px solid #fff !important;
}
input[type=password] {
    
}

@import 'navigation-bar';
@import 'user-profile';
@import 'filter';




form {
    .form-group {
        margin-bottom: 30px;
        
        input[type=text],
        input[type=date],
        select,
        textarea {
            border: none;
            padding-left: 0;
            border-radius: 0;
            outline: none;
            background: transparent;
            color: #000 !important;
            border-bottom: 2px solid $grey !important;

            &:focus {
                box-shadow: none !important;
            }
        }
        input[type=submit] {
            width: 100%;
        }

        label {
            color: $grey;
        }
    }
}