// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

img {
    max-width: 200px;
}

#stopTrip {
    display: none;
}

.user-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}