#desktopNavbar {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 2000;
    -webkit-box-shadow: 0px -4px 31px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 31px -18px rgba(0,0,0,0.75);
    box-shadow: 0px -4px 31px -18px rgba(0,0,0,0.75);

    @include media-breakpoint-up(lg) {
        display: flex;
    }
}